scratch/schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.w3.org/2001/XMLSchema">

  <complexType name="Path">
    <sequence>
      <element name="schema" type="string" minOccurs="0"/>
      <element name="parts" type="Part" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <!-- ... -->
</schema>