scratch/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
This schema was generated by parsley version -59 from the following grammar:

# e.g. 3*(2 + 4 / 2 + 6) - 1
# ... which is 29
Expression  ::=  sumOrDiff:SumOrDiff
             |   prodOrQuot:ProdOrQuot
             |   atom:Atom

Atom  ::=  identifier:IDENTIFIER
       |   number:NUMBER
       |   "(" expression:Expression ")"

SumOrDiff  ::=  left:SumOrDiffTerm (op:PlusOrMinus right:SumOrDiffTerm)+

SumOrDiffTerm  ::=  prodOrQuot:ProdOrQuot
                |   atom:Atom

ProdOrQuot  ::=  left:Atom (op:TimesOrDividedBy right:Atom)+

enumeration PlusOrMinus  ::=  "+" | "-"

enumeration TimesOrDividedBy  ::=  "*" | "/"

decimal NUMBER  ::=  /(0|[1-9][0-9]*)(\.[0-9]+)?/

IDENTIFIER  ::=  /[^0-9][a-zA-Z0-9_\-!@#$%^&amp;*+=:\/?~]*/
</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="Expression">
    <xsd:choice>
      <xsd:element name="sumOrDiff" type="xsd:SumOrDiff" />
      <xsd:element name="atom" type="xsd:Atom" />
      <xsd:element name="prodOrQuot" type="xsd:ProdOrQuot" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Atom">
    <xsd:choice>
      <xsd:element name="expression" type="xsd:Expression" />
      <xsd:element name="identifier" type="xsd:string" />
      <xsd:element name="number" type="xsd:decimal" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="SumOrDiff">
    <xsd:sequence>
      <xsd:element name="left" type="xsd:SumOrDiffTerm" />
      <xsd:element name="op" type="xsd:PlusOrMinus" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="right" type="xsd:SumOrDiffTerm" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SumOrDiffTerm">
    <xsd:choice>
      <xsd:element name="atom" type="xsd:Atom" />
      <xsd:element name="prodOrQuot" type="xsd:ProdOrQuot" />
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ProdOrQuot">
    <xsd:sequence>
      <xsd:element name="left" type="xsd:Atom" />
      <xsd:element name="op" type="xsd:TimesOrDividedBy" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="right" type="xsd:Atom" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="PlusOrMinus">
    <restriction base="xsd:string">
      <xsd:enumeration value="+" />
      <xsd:enumeration value="-" />
    </restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TimesOrDividedBy">
    <restriction base="xsd:string">
      <xsd:enumeration value="*" />
      <xsd:enumeration value="/" />
    </restriction>
  </xsd:simpleType>
</xsd:schema>