scratch/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://enterprise.com/my-target-namespace"
           targetNamespace="http://enterprise.com/my-target-namespace">

  <xs:complexType name="Path">
    <xs:sequence>
      <xs:element name="schema" type="xs:string" minOccurs="0"/>
      <xs:element name="parts"  type="tns:Part" 
                  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ... -->
</xs:schema>